<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href="/spending-tracker/my-tags">My tags</a></h3>
</div>

<form method="post" action="/spending-tracker/my-tags/<%= @tag.id %>">

<label for="name"></label>
<input
    id="name"
    type="text"
    name="name"
    value="<%= @tag.name %>"/>

<input type="submit" id="update" name="update" value="Update">
<input type="submit" id="delete" name="delete" value="Delete">

<table>
    <thead>
        <tr>
        <th>Transactions</th>
        <th>Amounts</th>
        <th>Merchants</th>
        </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>
            <tr>
                <td><a href="/spending-tracker/my-spendings/<%= transaction.id%>"><%= transaction.name %> </a></td>
                <td>£<%= transaction.amount %> </td>
                <td>
                    <% if transaction.merchant_id == nil %>
                        none
                    <% else %>
                        <%= transaction.merchant.name %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

</form>