<form method='post' action='/spending-tracker/new'>

    <label for="name">name:</label>
    <input
        id="name"
        type="text"
        name="name"
        required/>

    <label for="date">date:</label>
    <input 
        id="date"
        type="date"  
        name="date"
        required/>

    <label for="amount">amount: £</label>
    <input
        id="amount"
        type="float"
        name="amount"
        required/>

    <label for="merchant">merchant:</label>
    <select name="merchant_id" id="merchant-id">
        <% for merchant in @merchants %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
    </select>

    <label for="tag">tag:</label>
    <select name="tag_id" id="tag-id">
        <% for tag in @tags %>
            <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
    </select>

    <label for="budget">budget:</label>
    <select name="budget_id" id="budget-id">
        <% for budget in @budgets %>
            <% if budget.id == 1 %>
                <option value=<%= budget.id %> selected>none</option>
            <% else %>
                <option value="<%= budget.id %>"><%= budget.name %>: £<%= budget.remain %></option>
            <% end %>
        <% end %>
    </select>


    <input type="submit" value="New spending">
</form>