<h3>My spendings</h3>
<h3><a href='/spending-tracker/new'>New spending</a></h3>

<p>Total spent: £<%= @total %></p>
<table>
    <thead>
        <tr>
        <th>Transaction</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Tag</th>
        <th>Budget</th>
        </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>
            <tr>
                <td><a href="/spending-tracker/my-spendings/<%= transaction.id%>"><%= transaction.name %> </a></td>
                <td type="date"><%= transaction.date %></td>
                <td>£<%= transaction.amount %> </td>
                <td><%= transaction.merchant.name %> </td>
                <td><%= transaction.tag.name %> </td>
                <td style="background-color:<%= transaction.budget.alert%>;">
                    <a href="/spending-tracker/my-budgets/<%= transaction.budget_id%>"><%= transaction.budget.name %> </a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

