<form method="post" action="/spending-tracker/my-spendings/<%= @transaction.id %>">

    <label for="name">name:</label>
    <input
        id="name"
        type="text"
        name="name"
        value="<%= @transaction.name %>"/>

    <label for="amount">amount: £</label>
    <input
        id="amount"
        type="float"
        name="amount"
        value="<%= @transaction.amount %>"/>

    <label for="merchant">merchant:</label>
    <select name="merchant_id" id="merchant-id">
        <% for merchant in @merchants %>
            <% if merchant.id == @transaction.merchant_id %>
                <option value=<%= merchant.id %> selected><%= merchant.name %></option>
            <% else %>
                <option value=<%= merchant.id %>><%= merchant.name %></option>
            <% end %>
        <% end %>
    </select>

    <label for="tag">tag:</label>
    <select name="tag_id" id="tag-id">
        <% for tag in @tags %>
            <% if tag.id == @transaction.tag_id %>
                <option value=<%= tag.id %> selected><%= tag.name %></option>
            <% else %>
                <option value=<%= tag.id %>><%= tag.name %></option>
            <% end %>
        <% end %>
    </select>

    <label for="budget">budget:</label>
    <select name="budget_id" id="budget-id">
        <% for budget in @budgets %>
            <% if budget.id == @transaction.budget_id && budget.id != 1 %>
                <option value=<%= budget.id %> selected><%= budget.name %>: £<%= budget.remain %></option>
            <% elsif budget.id == 1 %>
                <option value=<%= budget.id %> selected>none</option>
            <% else %>
                <option value=<%= budget.id %>><%= budget.name %>: £<%= budget.remain %></option>
            <% end %>
        <% end %>
    </select>


    <input type="submit" id="updete" name="update" value="Update">
    <input type="submit" id="delete" name="delete" value="Delete">
</form>