<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href='/spending-tracker/new'>New spending</a></h3>
</div>


<form method="post" action="/spending-tracker/my-spendings">

<label for="merchant"></label>
<select name="merchant_id" id="merchant-id">
    <option value="-1">all merchants</option>
    <option value="0">none</option>
    <% for merchant in @merchants %>
        <option value=<%= merchant.id %>><%= merchant.name %></option>
    <% end %>
</select>

<label for="tag"></label>
<select name="tag_id" id="tag-id">
    <option value="-1">all tags</option>
    <option value="0">none</option>
    <% for tag in @tags %>
        <option value=<%= tag.id %>><%= tag.name %></option>
    <% end %>
</select>

<label for="budget"></label>
<select name="budget_id" id="budget-id">
    <option value="-1">all budgets</option>
    <option value="0">none</option>
    <% for budget in @budgets %>
        <option value=<%= budget.id %>><%= budget.name %></option>
    <% end %>
</select>

<input type="submit" id="filter" name="filter" value="Filter">
</form>



<p>Total spent: £<%= @total %></p>
<table>
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Merchant</th>
            <th>Tag</th>
            <th>Budget</th>
        </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>
            <tr>
                <td><a href="/spending-tracker/my-spendings/<%= transaction.id%>"><%= transaction.name %> </a></td>
                <td><time datetime="<%= transaction.date %>"><%= transaction.show_date %></time></td>
                <td>£<%= transaction.amount %> </td>
                <td>
                    <% if transaction.merchant_id == nil %>
                        -
                    <% else %>
                        <%= transaction.merchant.name %>
                    <% end %>
                </td>
                <td>
                    <% if transaction.tag_id == nil %>
                        -
                    <% else %>
                        <%= transaction.tag.name %>
                    <% end %>
                </td>
                <% if transaction.budget_id == nil %>
                    <td>-</td>
                <% else %>
                    <td style="background-color:<%= transaction.budget.alert%>;">
                        <a href="/spending-tracker/my-budgets/<%= transaction.budget_id%>"><%= transaction.budget.name %></a>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>