<div id="index" class="flex-container">
    <h3 class="flex-container" id="title"><a href='/spending-tracker/my-budgets'>My budgets</a></h3>
</div>

<form method="post" action="/spending-tracker/my-budgets/<%= @budget.id %>">

<label for="name">name: </label>
<input
    id="name"
    type="text"
    name="name"
    value="<%= @budget.name %>"/
    required>

<label for="amount">total: £</label>
<input
    id="amount"
    type="float"
    name="amount"
    value="<%= @budget.amount %>"
    required/>

<label for="alert-under">Alert:</label> 
<select name="alert_limit" id="alert-limit">
        <option value="50" <%= 'selected' if @budget.alert_limit == 50 %>>50% left</option>
        <option value="25" <%= 'selected' if @budget.alert_limit == 25 %>>25% left</option>
        <option value="10" <%= 'selected' if @budget.alert_limit == 10 %>>10% left</option>
        <option value="0" <%= 'selected' if @budget.alert_limit == 0 %>>0% left</option>
</select>


<input type="submit" id="update" name="update" value="Update">
<input type="submit" id="delete" name="delete" value="Delete">

<p>Remain: £<%= @budget.remain%></p>

<table>
    <thead>
        <tr>
        <th>Transactions</th>
        <th>Amounts</th>
        <th>Merchants</th>
        <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>
            <tr>
                <td><a href="/spending-tracker/my-spendings/<%= transaction.id%>"><%= transaction.name %> </a></td>
                <td>£<%= transaction.amount %> </td>
                <td>
                    <% if transaction.merchant_id == nil %>
                        -
                    <% else %>
                        <%= transaction.merchant.name %>
                    <% end %>
                </td>
                <td>
                    <% if transaction.tag_id == nil %>
                        -
                    <% else %>
                        <%= transaction.tag.name %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

</form>