<form method="post" action="/spending-tracker/my-budgets/<%= @budget.id %>">
<h2><a href="/spending-tracker/my-budgets">My budgets</a></h2>
<h3>Edit budget</h3>

<label for="name">name: </label>
<input
    id="name"
    type="text"
    name="name"
    value="<%= @budget.name %>"/
    required>

<label for="amount">total: £</label>
<input
    id="amount"
    type="float"
    name="amount"
    value="<%= @budget.amount%>"
    required/>

<label for="alert-under">Alert:</label> 
<select name="alert_limit" id="alert_limit" selected="<%= @budget.alert_limit%>">
    <option value="0">none</option>
    <option value="50">50% left</option>
    <option value="25">25% lefy</option>
    <option value="10">10% left</option>
</select>


<input type="submit" id="update" name="update" value="Update">
<input type="submit" id="delete" name="delete" value="Delete">

<p>Remain: £<%= @budget.remain%></p>

<table>
    <thead>
        <tr>
        <th>Transactions</th>
        <th>Amounts</th>
        <th>Merchants</th>
        <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <% for transaction in @transactions %>
            <tr>
                <td><a href="/spending-tracker/my-spendings/<%= transaction.id%>"><%= transaction.name %> </a></td>
                <td>£<%= transaction.amount %> </td>
                <td>
                    <% if transaction.merchant_id == nil %>
                        none
                    <% else %>
                        <%= transaction.merchant.name %>
                    <% end %>
                </td>
                <td>
                    <% if transaction.tag_id == nil %>
                        none
                    <% else %>
                        <%= transaction.tag.name %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

</form>